body {
    font-family: "Inter", sans-serif; 
    font-size: large;
    margin: 40px;
    background-color: skyblue;
    /* color:white; */
    /* background-color: #000000; */
}

.title {
    border-width: 5px;
    border-style: solid;
    border-color: white;
    /* border-radius: 20px; */
    background-color: skyblue;
    color: black;
    padding: 20px;
}

.title__button {
    background-color: skyblue;
    border-color: white;
    border-width: 3px;
    color: black;
    font-size: large;
    padding: 10px;
}

.interests {
    background-color: skyblue;
    color: black;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    padding: 20px;
}

.interests:hover {
    background-color: white;
    color: blue;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.projects:hover {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: orangered;
}


.projects {
    background-color: skyblue;
    color: black;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 20PX;
    vertical-align: top;
}

.contact {
    padding: 10px;
    background-color: skyblue;
    color: black;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

.title__button:hover {
    color: white
}

.about__me {
    border-width: 5px;
    border-style: solid;
    border-color: white;
    /* border-radius: 20px; */
    background-color: skyblue;
    color: black;
    padding: 20px;
}

.contact:hover {
    background-color: white;
    color: blueviolet;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.contact_submit_button {
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    color: black;
    background-color: skyblue;
}

.contact__form {
    border-width: 5px;
    border-style: solid;
    border-color: white;
    /* border-radius: 20px; */
    background-color: skyblue;
    padding: 20px;
}

.contact_boder {
    border-width: 4px;
    border-style: solid;
    border-color: white;
    /* border-radius: 20px; */
    background-color: skyblue;
    padding: 20px;
}

.table__content {
    font-size: larger;
}

.title__button_contact {
    padding: 10px;
    background-color: skyblue;
}

.contact__button_submit {
    background-color: skyblue;
    border-color: white;
    border-width: 3px;
    color: black;
    font-size: large;
    padding: 10px
}

.contact__button_submit:hover {
    color: white
}