body {
    margin: 30px;
}

.img1 {
    height: 250px;
    width: 200px;
}

.title {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.title__sub_part {
    font-size: large;
    color: gray;
    padding-top: 1px;
    margin-top: 0px;
}

.title__sub_heading {
    margin-bottom: 0px;
}

.card {
    text-align: center;
    padding: 5px
}

.cards {
    margin: 5px;
    margin-top: 10px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 200px;
    height: 450px;
    text-align: center;
    vertical-align: top;
}

.order_now_button {
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    padding: 5px;

}

.contact__area {
    background-color: black;
    color: white;
    text-align: center;
    height: 170px;
    padding: 20px;
    padding-top: 10px;
}

.contact__area_title {
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 40px;
    font-size: xx-large;
}

.contact__area_table {
    margin: auto;
}

.contact__area_submit {
    width: 450px;
    padding: 5px;
    background-color: yellow;
    font-size: medium;
}

.contact__area_form {
    padding: 10px;
    padding-top: 5px;
    font-size: large;
}